
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/playfair-display');
@import url('https://fonts.cdnfonts.com/css/open-sans');

html, body {
  overflow-x: hidden;
  
}

body>*{
  overflow-y: hidden;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}

:root{
    --main-font: 'Montserrat', sans-serif;
    --second-font: 'Playfair Display', sans-serif;
    --third-font:  'Open Sans', sans-serif;
    --main-color:#1D1D1D;
    --second-color: #666666;
    --third-color: #95989A ;
    --cta-color: #1005FF;
}
.montserrat{
  font-family: 'Montserrat', sans-serif;
}

.playfair{
  font-family: 'Playfair Display', sans-serif;
}

.open-sans{
  font-family: 'Open Sans', sans-serif;
}

body{
  position: relative;
 margin: 0;
 padding: 0;
 overflow-x: none;
}
.image{
  object-fit: cover;
}
.landing {
    height: 75vh;
    
}

.main-hero{
  animation: scale-down 1s;
  overflow-y:hidden;
}
.liner{
  
  height: 2px;
  background-color: black;
  width:60px;
  top: 10px;
}

.testoo{
  position: relative;
}

.testoo::after{
  content: '';
  position: absolute;
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 5;

}

.f14{
  font-size:14px;
}

.f12{
  font-size:12px;
}

.h-55{
  height:50px;
}
.h-273{
  height: 273px;
}

.h-333{
  height: 333px;
}


.h-668{
  height: 668px;
}

.h-70{
  height: 66%;
}

.h-80{
  height:80%;
}

.h-90{
  height: 95%;
}

.ne-navbar {
  z-index: 98;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  background-color: none;
  padding: 10px 20px;

}
.navcontainer{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.ne-logo {
  font-size: 20px;
  cursor: pointer;
  animation: scale-image 1s  0s ;

}

.partner{
  opacity: 0;
  transition: opacity 2s ease-out

}

.partner.visible{
  opacity: 1;
}


.ne-menu {
  display: flex;
  gap: 10px;
  z-index: 99;
  color: black ;
  animation: scale-image 1s  0s ;
}


.ne-menu a {
  color: black;
  font-family: var(--third-font);
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.ne-menu a:hover {
  background-color: #575757;
}

.ne-menu-toggle {
  display: none;
  font-size: 24px;

  background: none;
  border: none;
  cursor: pointer;
}

.ne-menu-close {
  display: none;
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin: 10px;
}



.ne-menu.active {
  right: 0;
}

.bg-secondo{
  opacity: 0;
  overflow-y: hidden;
  transform: translateY(200px);
  transition: opacity 1s ease-out, transform 1s ease-out;
    background-color: #F3F7F8;

}
.bg-secondo.visible {
  opacity: 1;
  transform: translateY(0);
}
  .cover{
    max-width: 100%;
    object-fit: cover;
  }

  .right-0{
    right: 0;
  }

  .drk:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.6;
  }


.about-par{
  line-height: 30px;
  letter-spacing: 0;
  font-weight: 0;
  font-weight: 300;
  color: var(--third-color);
  
}

.aboutlead{
  margin-top: 30px;
  margin-bottom: 35px !important;
}

.overlayer-extra{
  display: flex;
  justify-content: end;
  flex-direction: column;
  background:rgba(0, 0, 0, 0.5);
  font-size: 16px;
    padding: 20px;
    padding-bottom: 20px;
   height: auto;
   width: 100%;
  
}


.wrapper{
  position: relative;
  width: 100%;
  height: 95%;
  overflow: hidden;   
}
.img-overlay-wrapper{
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 90%;
  overflow: hidden;
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.img-overlay-wrapper.visible{
  transform: translateX(0);
  opacity: 1;
}

.img-overlay-wrapper>img{
  object-fit: cover;
  width: 100%;
  height: auto;
}


.card-title-new{
  font-size: 16px;
  font-weight: bold;
  font-family: var(--main-font);
  
}

.card-text-new{
  font-size: 16px;
  
  font-family: var(--third-font);
  color: #D1D1D1 !important;

}

.overlayer-extra>*{
  color: white;
  opacity: 1 !important;
}

.img-overlay-wrapper:hover>img{
  transform: scale(1.3);
  cursor: pointer;
  transition: 0.3s ease-in !important;

}

.img-overlay-wrapper:not(hover)>img{

  transition: 0.3s ease-in !important;
}

.big-scale{
  opacity: 0;
  overflow: hidden;
  transform: translateX(-300px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.big-scale.visible{
  transform: translateX(0);
  opacity: 1;
}

.emailimage{
  opacity: 0;
  transform: scale(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.emailimage.visible{
  transform: scale(1);
  opacity: 1;
}

.wrapper:not(:hover)>img{
  transition: 0.3s ease-in !important;
}
.wrapper:hover>img{
  cursor: pointer;
  transform: scale(1.3);
  transition: 0.3s ease-in !important;
  
}

.img-overlay-wrapper>img{
  object-fit: contain;
}

.colom{
  height: 30px !important;
}




.partnersection{
  background-color:#F3F7F8;

}


 .arrow-anim{
  cursor: pointer;
 }
 .arrow-anim>img{
  transition: 0.2s ease-in-out;
 }

 .arrow-anim:hover>img{

    transform: translateX(10px);
 }

 .nav-link:hover{
  color:white;
  transition: 0.3s ease-in-out
 }

 .btn:hover{
    background-color: #06007a !important;
    transition: all 0.4s;
 }
    .copyright{
    color:gray;
    font-family: var(--third-color);
    }

    .footer{
      opacity: 0;
      overflow-y: hidden;
      transform: translateY(200px);
      transition: opacity 1s ease-out, transform 2s ease-out;
    
    }
    .footer.visible {
      opacity: 1;
      transform: translateY(0);
    }   

    .emailcont{
      opacity: 0;
      transform: translateX(200px);
      transition: opacity 1s ease-out, transform 0.3s ease-out;
    }

    .emailcont.visible{
      opacity: 1;
      transform: translateX(0);
    }

    .icons:hover>img{
      transform: scale(1.3);
      transition: all 0.3s;
    }

    .navbar-brand:hover{
      
      transform: scale(1.05);
      transition: all 0.3s;
    }

 @keyframes scale-image {
  from {
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

@keyframes scale-down {
  from {
    transform: scale(1.3);
  }
  to{
    transform: scale(1);
  }
}


  .imgoo-animation {
    animation-name: scale-image;
    animation-duration: 1s;
    animation-iteration-count: 1;
    
  }



 @media (min-width: 992px) { 

  .elcont{
    height: 888px;
  }
 }
 
 @media (max-width: 992px) {
  .ne-menu {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: -100%;
      height: 100%;
      width: 250px;
      background-color: #333;
      transition: right 0.3s ease;
      padding-top: 20px;
  }

  .ne-menu a {
      padding: 10px;
      text-align: center;
      border-top: 1px solid #444;
      color: white;
  }

  .ne-menu-toggle {
      display: block;
  }

  .ne-menu-close {
      display: block;
  }
}